<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.emberon.winscan">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".WinCashApp"
        android:allowBackup="true"
        android:icon="@mipmap/embereon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/embereon_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WinScan">
        <activity android:name="org.emberon.winscan.splash.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.emberon.winscan.main.MainActivity"
            android:label="@string/app_name">
            
        </activity>
    </application>

</manifest>